*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --white-clr: #FFFFFF;
    --brown-800: #854632;
    --stone-100: #F3E5D7;
    --stone-150: #E3DDD7;
    --stone-600: #5F564D;
    --stone-900: #312E2C;
    --rose-50: #FFF7FB;
    --rose-800: #7A284E;


    /* Typography */
    --font-size-160: 16px;
    --font-size-200: 20xp;
    --font-size-280: 28px;
    --font-size-400: 40px;

    --line-height-100: 100%;
    --line-height-150: 150%;

    /* Spacing */

    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-1600: 128px;
    
}

@font-face {
    font-family: 'Young Serif';
    font-weight: 400;
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    font-weight: 600;
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: 'Outfit';
    font-weight: 400;
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    font-weight: 700;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

html {
    background-color: var(--stone-100);
}

.card-div {
    background-color: var(--white-clr);
    width: 736px;
    border-radius: 24px;
    padding: 40px;
    
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--stone-600)
}